footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff;
    color: #fff;
    bottom:0;
}

table{
    margin: auto;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 5px;
}

table td{
    align-items: center;
    text-align: center;
    border: 1px solid grey;
}
